/* Remove marging so that the menu looks aligned on mobile devices */
.nav-pills > li + li {
    margin-left: 0px;
}

/* Make docs menu entry look like rtd */
a.rtdmenu {
    background-color:rgba(41, 128, 185, .4)
}

/* Set global font */
body {
    font-family: "Lato";
}

/* Make register link as large as regular link */
.account-masthead .account ul li a.sub {
  font-weight: 700;
}

.fa.fa-external-link-square {
	font-size: 7pt;
	vertical-align: top;
	margin-left: 1pt;
}


/* Remove thick border around main content */
.wrapper {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
}

/* Remove shadow from tags */
a.tag, a.tag:hover{
  box-shadow: inset 0 0px 0 #315484
}

/* Additional color tweaks overriding things in dcor_theme_colors.css */
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a
{
  background-color: #194484;
}

/* Could not pick that up with thinycss */
@media (min-width: 768px) {
  .nav-item.active > a:before,
  .nav-aside li.active a:before {
    border-left-color: #5D7597;  /* #647A82 */
  }
}

/* Override the default font-awesome icon for dataset */
.fa.fa-sitemap:before {
  content: "\f114";
}

/* Override the CUSTOM font-awesome icon for group/collections
(The default font-awesome icon is "users")
*/
.fa.fa-group:before {
  content: "\f12e";
}

/* Override the default font-awesome icon for organization/circle */
.fa.fa-building-o:before {
  content: "\f17d";
}
