<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        DCOR Circles are used to create, manage and publish datasets.
        A Circle comprises one or more users who are part of the
        same company, organization, research group, or laboratory.
        Every user can create Circles and add other users to them.
        Users can have different roles within a Circle, depending on
        their level of authorization to create, edit, and publish.
      {% endtrans %}
    </p>
  </div>
</div>