{% ckan_extends %}

{% block header_site_navigation_tabs %}

   <li><a href="/dataset"><i class="fa fa-sitemap fa-fw"></i>&nbsp;Datasets</a></li>
   <li><a href="/group"><i class="fa fa-group fa-fw"></i>&nbsp;Collections</a></li>
   <li><a href="/organization"><i class="fa fa-circle fa-fw"></i>&nbsp;Circles</a></li>

   {% if h.check_access('sysadmin') %}
     <li><a href="/user"><i class="fa fa-users fa-fw"></i>&nbsp;Users</a></li>
   {% endif %}

   <li><a href="https://dc.readthedocs.io/" target="_blank"><i class="fa fa-book fa-fw"></i>&nbsp;Docs<i class="fa fa-external-link-square"></i></a></li>

{% endblock %}