{% extends "page.html" %}

{% block subtitle %}{{ _('Privacy') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Privacy'), 'dcor_theme.privacy' %}</li>
{% endblock %}

{% block primary %}
<article class="module">


<div class="module-content">
  <p>
    <b>Data protection</b>
    <br> The topic of data protection is comprehensively regulated by the EU General
    Data Protection Regulation (GDPR). To help you understand which data we collect
    from you, how we process it, and whom to contact if you have any questions,
    we've put together all the relevant information on this page.
  </p>

  <p>
    This privacy policy applies to {{ g.site_url }}.
  </p>

  <p>
    This website is hosted by the Max Planck Computing &amp; Data Facility
    (<a href="https://www.mpcdf.mpg.de">https://www.mpcdf.mpg.de</a>).
  </p>

  <p>
    <b>Person responsible and scope</b>
    <br> Responsible according to the GDPR is:
    <br> Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V. (MPG)
    <br> Hofgartenstraße 8
    <br> D-80539 München
    <br> Phone: +49 (89) 2108-0
    <br> Contact form: <a href="https://www.mpg.de/kontakt/anfragen">https://www.mpg.de/kontakt/anfragen</a>    
    <br> Internet: <a href="https://www.mpg.de">https://www.mpg.de</a>
    <br>
  </p>

  <p>
    <b>Data protection officer</b>
    <br> Heidi Schuster
    <br> Hofgartenstraße 8
    <br> D-80539 München
    <br> Phone: +49 (89) 2108-1554
    <br> E-Mail: datenschutz(at)mpg.de
    <br>
  </p>

  <p>
    <b>Principles of data processing</b>
    <br> Personal data is any information that relates to an identified or identifiable
    natural person. This includes, for example, information such as your name, age,
    address, phone number, date of birth, e-mail address, IP address, or user behavior.
    Information that we can not relate to your person (or only with disproportionate
    effort), e.g. by anonymizing the information, are not personal information. The
    processing of personal data (eg. collecting, querying, using, storing or transmitting)
    always requires a legal basis or your consent. Processed personal data will be
    deleted as soon as the purpose of the processing has been achieved and no legally
    required retention requirements have to be maintained.
  </p>

  <p>
    <b>Use of {{ g.site_url }}</b>
    <br> When using {{ g.site_url }}, we may create web server logs that contain the
    date and time, the IP address, the retrieved URL path, the referrer (if applicable)
    and the browser used.
  </p>

  <p>
    <b>Disclosure of data</b>
    <br> We do not share personal information with third parties. Exceptions to this
    rule are:
  </p>
  <ul>
    <li>You have expressed consent in accordance with Art. 6 para. 1 sentence 1 lit. a
      GDPR</li>
    <li>The transfer is permitted by law and according to Art. 6 para. 1 p. 1 lit. b GDPR
      required to fulfill the contractual relationship with you</li>
    <li>There is a legal obligation for disclosure pursuant to Art. 6 para. 1 sentence
      1 lit. c GDPR</li>
    <li>Sharing personal information is required according to Art. 6 para. 1 sentence 1
      lit. f GDPR for the protection of legitimate corporate interests, as well as for
      the assertion, exercise or defense of legal claims required, and there is no reason
      to assume that you have a predominant legitimate interest in the non-disclosure
      of your data</li>
  </ul>
  <p></p>

  <p>
    <b>Use of cookies</b>
    <br> We do not use any cookies on the public parts of our websites. When you register
    or log in, DCOR sets an authorization and a session cookie.
  </p>

  <p>
    <b>Tracking and analysis tools</b>
    <br> We do not use any external tracking and analysis tools.
  </p>

  <p>
    <b>Social network plugins</b>
    <br> We do not use any plugins of social networks.
  </p>

  <p>
    <b>Data subject rights</b>
    <br> As a person affected by the processing of personal data you have the following
    rights under GDPR, and we are obliged to point this out to you:
  </p>
  <ul>
    <li>Pursuant to Art. 15 GDPR, you may request information about your personal data
      processed by us. In particular, you may request information about the purposes
      of processing, the categories of personal data, the categories of recipients to
      whom your data have been or will be disclosed, the planned storage period, the
      existence of a right of rectification, erasure, restriction of processing or objection,
      the existence of a right to lodge a complaint, the origin of your data, if it
      has not been collected from us, about its transfer to third countries or to international
      organisations as well as about the existence of automated decision-making including
      profiling and, if applicable, meaningful information about its details.</li>
    <li>Pursuant to Art. 16 GDPR you may request the correction of incorrect personal data
      or the completion of your personal data stored by us.</li>
    <li>Pursuant to Art. 17 GDPR, you may request the deletion of your personal data stored
      by us, unless such processing is necessary for the exercise of the right to freedom
      of expression and information, for the fulfilment of a legal obligation, for reasons
      of public interest or for the assertion, exercise or defence of legal claims.</li>
    
    <li>Pursuant to Art. 18 GDPR you can demand the restriction of the processing of your
      personal data if the accuracy of the data is disputed by you, the processing is
      unlawful, we no longer require the data and you refuse its deletion because you
      need it to assert, exercise or defend legal claims. You may also exercise the
      right under Art. 18 GDPR if you have objected to the processing. (Art. 21 GDPR)</li>
    
    <li>Pursuant to Art. 20 GDPR, you can request to receive your personal data that you
      have provided to us in a structured, common and machine-readable format or you
      can request it be transferred to a third party.</li>
    <li>Pursuant to Art. 7 (3) GDPR, you can withdraw your consent given to us at any time.
      As a result, we may no longer process personal data based on this consent in the
      future.</li>
    <li>Pursuant to Art. 77 GDPR, you have the right to lodge a complaint with a supervisory
      authority. As a rule, you can contact the supervisory authority for your usual
      place of residence, your workplace or our company headquarters.</li>
  </ul>
  <p></p>

  <p>
    <b>Right to object</b>
    <br> When processing your personal data based on legitimate interests according
    to Art. 6 (1) f GDPR, you have the right, pursuant to Art. 21 GDPR, to object to
    the processing of your personal data on grounds that arise from your particular
    situation. Alternatively, if the objection is directed against direct marketing,
    you have a general right of objection, which is followed by us without you having
    to state a particular reason.
  </p>


</div>

</article>
{% endblock %}

{% block secondary %}{% endblock %}