{% ckan_extends %}


{# Note: ckanext-dcor_scheme also extends this page #}
{# Note: ckanext-dc_serve also extends this page #}


    {% block resource_content %}

      {% block package_archive_notice %}
      {% endblock %}

      {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}

      {% block resource_read_url %}
      {% endblock %}

      {# Do not show dataset abstract if resource has no description #}
      <div class="prose notes" property="rdfs:label">
        {% if res.description %}
          {{ h.render_markdown(res.description) }}
        {% endif %}
      </div>

    {% endblock %}
