<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Groups?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        You can use DCOR Collections to create and manage selections
        of datasets. This could be to catalog datasets for a particular
        project or team, or on a particular theme, or as a very simple
        way to help people find and search your own published datasets.
        You can also use Collections to share private datasets with other
        users.
      {% endtrans %}
    </p>
  </div>
</div>